section(
  id="profile"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  h3(class="content__text") PROFILE
  .profile-item
    div
      img(
        src="../img/face.png"
        alt="プロフィール画像"
        class="profile-item__img"
      )
    div(class="profile-item__text text-style")
      p 大阪府でフリーランスのソフトウェア開発者として活動しています。
      p ウォーターフォール、アジャイル、それぞれにおいてフロントエンド＆バックエンドの設計〜テスト業務を行ってきました。
      br
      p 経歴
      p ご気軽にご連絡ください。
      p ■ 使用PC、ツール
      ul(class="tools")
        li(class="tool") Windows10
        li(class="tool") MacbookPro(MacOS Catalina)
        li(class="tool") VSCode
        li(class="tool") Adobe Photoshop
        li(class="tool") Adobe XD