section(
  id="profile"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  .section-wrapper
    h3(class="content__text") PROFILE
    .profile-item
    .profile-icon-area
      img(
        src="../img/face.png"
        alt="プロフィール画像"
        class="profile-item__img"
      )
      small 1996.03 奈良県出身
    div(class="profile-item__text text-style")
      p 大阪府でフリーランスのソフトウェア開発者として活動しています。
      p フロントエンド＆バックエンドの設計、実装、テスト業務を行ってきました。
      p 速くて、綺麗で、シンプルなWebアプリケーションを確かな技術で提供します。
      br
      p ■ 使用PC、ツール
      ul(class="tools")
        li(class="tool") MacbookPro(MacOS BigSur)
        li(class="tool") Windows10
        li(class="tool") VSCode
      a(href='technologies-modal') 対応可能言語/FWなど
    div(id="technologies-modal" class="modaal-window")
      div(id="modaal-window-wrapper1" class="modaal-window-wrapper")
        p JavaScript