section(
  id="profile"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  h3(class="content__text") PROFILE
  .profile-item
    div
      img(
        src="../img/face.png"
        alt="プロフィール画像"
        class="profile-item__img"
      )
    div(class="profile-item__text text-style")
      p ご訪問ありがとうございます!Junichiro Kohariと申します。
      p 大阪府内でSEとして働くかたわら、Web制作のお仕事も行っております。
      p(class="profile-item__text-syumi")
        | 趣味は、外国人の友達とチャットをすることです。ポーランド人やウルグアイ人など、ネットで出会った友達と週末によくチャットをしています
      br
      p 普段当たり前のようにネットでコミュニケーションを取っていますが、はるか遠く離れた所にいる人と瞬時にやりとりができるってすごいことですよね。
      br
      p 私は、ネットによって人と人とが繋がるという体験を仕事でも実現させていきたいなと思っています。
      p(class="profile-item__text-contactme") ちょっとした相談やお悩み事の相談でも構いません。
      br
      p ご気軽にご連絡ください。
      p ■ 使用PC、ツール
      ul(class="tools")
        li(class="tool") Windows10
        li(class="tool") MacbookPro(MacOS Catalina)
        li(class="tool") VSCode
        li(class="tool") Adobe Photoshop
        li(class="tool") Adobe XD