section(
  id="works"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  h3(class="content__text") WORKS
  ul(id="works-list" class="works text-style")
    li(id="work-li" class="work")
      a(
        id="work-card"
        class="media-item modaal"
        href="#work1-modal"
      )
        img(
          src="../img/works/dummy1.png"
          class="media-item__img work-card__img"
          alt="work-image"
        )
        h3(class="media-item__title work-card__projectName")
        ul(id="businessType" class="tags work-card__businessType")
        ul(id="processes" class="tags work-card__processes")
        ul(id="languages" class="tags work-card__languages")
        ul(id="frameworks" class="tags work-card__frameworks")
    li(class="work")
      a(
        id="dummy1"
        class="media-item modaal"
        href="#dummy1-modal"
      )
        img(
          src="../img/works/dummy1.png"
          class="media-item__img"
          alt="株式会社テスト様公式HPのトップ画"
        )
        h3(class="media-item__title") 株式会社テスト様公式HP
        ul(class="tags")
          li
            span(class="tag tagcolor-coding") #コーディング
          li
            span(class="tag tagcolor-category") #コーポレートサイト
          li
            span(class="tag tagcolor-design") #ビジネス
          li
            span(class="tag tagcolor-design") #シンプル
          li
            span(class="tag tagcolor-quality") #納品一週間以内
  div(id="dummy1-modal" class="modaal-window")
    div(id="modaal-window-wrapper1" class="modaal-window-wrapper")
      .dummy-modal-left
        img.media-item__img(src="../img/works/dummy1.png" alt="株式会社テスト様公式HPのトップ画")
        h3.media-item__title 株式会社テスト様公式HP
        div
          dl
            dd 開発手法
            dt アジャイル
      p.dummy-modal-right dummy1の紹介文
